
#menu{
	width:1050px;
	height:50px;
	border: 1px solid black;	
	border-bottom: solid white;
}

#menu div{
	display:inline-block;
	vertical-align:top;
	width:40px;
	height:50px;
	padding-right:25px;
}

#menu p{
	padding-right:300px;
	display:inline-block;
}

#left-menu{
	width: 200px;
	height:930px;
	border:1px solid black;
	vertical-align:top;
	display:inline-block;
}


#tools{
	height:100px;
	border-bottom:1px solid black;
}

#tools div{
	display:inline-block;
	vertical-align:top;
	
}

ul{
	list-style-type: none;
}
#thickmenu{
	background-color: #E2D38A;
	border: 1px;
	width: 78px;
}

.hide{
	opacity:0;
}

#select{
	height:100px;
	border-bottom:1px solid black;
}


#select div{
	display:inline-block;
	vertical-align:top;
	width:40px;
	height:50px;
	padding-left:10px;
}


#shapes div{
	display:inline;
	float: left;
	width: 40px;
	height: 50px;
}

#shapes{
	height: 200px;
	border-bottom: 1px solid black;
}

#misc{
	height:100px;
	border-bottom:1px solid black;
}

#misc div{
	display:inline;
	width: 40px;
	height:50px;
	padding-left: 5px;
}


#misc{
	height:100px;
	border-bottom:1px solid black;
}

#colour{
	height:200px;
}

#colour{
	height:200px;
}

#colour div{
	width:40px;
	height:50px;
	padding-left:10px;
}

#colour button{
	height: 30px;
	width: 30px;
}

#cc button{
	height: 30px;
	width: 30px;
}


#right-menu{
	vertical-align:top;
	display:inline-block;
}

#canvas1 {
	width:800px;
	height:600px;
	border: 1px solid black;

}

#canvas{
	padding: 20px 20px 20px 20px;
	cursor: crosshair;
	border:1px solid black;
	
}

#frame{
	width:845px;
	height:280px;
	border: 1px solid black;
	border-top: solid white;
	
}

#frame-tools{
	height:280px;
	width: 100px;
	border: 1px solid black;
	border-bottom-color: white;
	border-right-color: white;
	border-top-color: white;
	float:right;
}

#frame-tools div{
	padding-bottom:10px;
	padding-top: 25px;
	padding-left: 5px;
	padding-bottom: 5px;
	
}

img{
	width:40px;
	height:40px;
	
}

body{
	white-space: nowrap;
}
